/Employee.class
/Coordinate.class
/Location.class
/Tour.class
/Map.class
/Catalog.class
/City.class
/Customer.class
/CustomerCard.class
/User.class
/ChangeRequest.class
/City2.class
/Map2.class
/Statistics.class
